body {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    background: #333;
    color: #fff;
    width: 100%;
    font-family: 'Poiret One', Arial, cursive;
}

input{
    width: 100%;
    line-height: 1.5rem;
    font-size: 1.3rem;
}

.container {
    margin: 0 auto;
    width: 50%;
}

.card-primary {
    background: blue;
    margin-bottom: .5px;
    border-radius: 5px;
}

.card-success {
    background: green;
    margin-bottom: .5px;
    border-radius: 5px;
}

.card-danger {
    background: red;
    margin-bottom: .5px;
    border-radius: 5px;
}

.card-block {
    margin: 2px 5px;
}